@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClockFont";
  src: url("/fonts/DigitalDisplayRegular-ODEO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
